.won-table-container {
    height: calc(96vh - 48px);
    overflow: auto;
  }
  
table {
  width: 100%;
}

tr.mat-row {
  height: 36px;
}

.mat-header-cell {
  font-size: 92%;
}
.mat-cell {
  font-size: 86%;
}