<div id=parameterPanel>
    <dl>
        <dt>Param 1</dt>
        <input type="text" value="{{dataObj?.parameters[0]? dataObj?.parameters[0]?.values : '--'}}" />
    
        <dt>Param 2</dt>
        <input type="text" value="{{dataObj?.parameters[1]? dataObj?.parameters[1].values  : '--'}}" />
    
        <dt>Param 3</dt>
        <input type="text" value="{{dataObj?.parameters[2]? dataObj?.parameters[2].values : '--'}}" />
    
        <dt>Param 4</dt>
        <input type="text" value="{{dataObj?.parameters[3]? dataObj?.parameters[3].values : '--'}}" />

        <dt>Param 5</dt>
        <input type="text" value="{{dataObj?.parameters[4]? dataObj?.parameters[4].values : '--'}}" />
    
        <dt>Param 6</dt>
        <input type="text" value="{{dataObj?.parameters[5]? dataObj?.parameters[5].values : '--'}}" />
    
        <dt>Param 7</dt>
        <input type="text" value="{{dataObj?.parameters[6]? dataObj?.parameters[6].values : '--'}}" />
    
        <dt>Param 8</dt>
        <input type="text" value="{{dataObj?.parameters[7]? dataObj?.parameters[7].values : '--'}}" />
    </dl>
    
    

    <dl class="commonInfo">
        <div id="titlePanel">
            Parameter
        </div>

        <dt>ID</dt>
        <dd>{{dataObj?.id}}&nbsp;</dd>
    
        <dt>Name</dt>
        <dd>{{dataObj?.name}}&nbsp;</dd>
    
        <dt>TxDate</dt>
        <dd>{{dataObj?.requestedAt}}&nbsp;</dd>
    
        <dt>Created</dt>
        <dd>{{dataObj?.date}} {{dataObj?.time}}&nbsp;</dd>
    </dl>
</div>

