
#main {
    margin: 0;
    padding: 2vh 1vw;
    height: 96vh;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
    background-color: #f5f5f5;
}

#leftPanel {
    width: 48vw;
    order: 1;
    flex: 0 1 auto;
    background-color:#e3e3e3;
    border-radius: 6px;
    
}

#rightPanel {
    width: 48vw;
    order: 2;
    flex: 0 1 auto;
}

#rightTopPanel {
    width: 100%;
    display: block;
    position: relative;
    height: calc(48vw * 9 /16) ;
 /*   padding-bottom: calc(100% * 16/9) ;*/
    background-color: #aaa;
}

#rightBottomPanel {
    width: 100%;
    height: calc(96vh - (48vw * 9 /16) - 10px);
    margin-top: 10px;
    display: block;
    background-color: #e3e3e3;
    border-radius: 6px;
}

.mat-tab-group {
    margin-bottom: 48px;
}